* {
	font-family: BlexMonoNerdFont, Symbols Nerd Font;
	font-weight: bold;
	font-size: 16px;
	min-height: 0;
}

@define-color bg #1e1e2e; 
@define-color fg #cdd6f4; 
@define-color y #7287fd; 
@define-color g #7287fd; 

window#waybar {
	background-color: @bg;
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 5;
}

#custom-menu {
	color: @fg;
	background-color: @bg;
	padding: 0px 5px;
	margin: 0px 0px 0px 10px;
}
#custom-menu:hover {
	color: @y;
	background-color: @bg;
	padding: 0px 5px;
	margin: 0px 0px 0px 10px;
}

#battery {
	color: @fg;
	background-color: @bg;
	padding: 0px 5px;
	margin: 0px 10px;
}

#custom-bt_battery {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 5px;
	font-size: 18px;
}

#custom-cpu {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
}
#custom-memory {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
	font-size: 18px;
}

#tray {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}

#pulseaudio {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}
#pulseaudio:hover {
	color: @y;
}

#language {
	color: @fg;
	background-color: @bg;
	padding: 0px 0px 3px 0px;
	margin: 0px 10px;
	font-family: BlexMonoNerdFont;
	font-weight: bold;
	font-size: 22px;
}
#language:hover {
	color: @y;
	background-color: @bg;
	padding: 0px 0px 3px 0px;
	margin: 0px 10px;
	font-weight: normal;
	font-size: 22px;
}

#clock {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}
#clock:hover {
	color: @y;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}

#custom-power {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
	font-size: 22px;
}
#custom-power:hover {
	color: @y;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
	font-size: 18px;
}

#custom-disk {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
}


#custom-niri-layout {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
}

calendar.header label {
    min-width: 120px;
}
