@define-color bg #1e1e2e; 
@define-color fg #cdd6f4; 
@define-color y #7287fd; 

*{
    font-family: BlexMonoNerdFont;
    font-size: 14px;
    border-radius: 5;
}

window {
    background-color: @bg;
}

#input {
    margin: -15px 0px -10px 0px;
    background-color: @bg;
    color: @bg;
}

#inner-box {
    visibility: hidden;
}

#outer-box {
    margin: 10px 20px;
    padding: 0px;
    background-color: @bg;
}

#text {
    padding: 5px;
    color: @fg;
    margin: 0px 0px;
}

#entry:selected {
    background: @y;
    font-color: @bg;
}

#text:selected {
    color: @bg;
    padding: 5px;
}



